Data(
    name: "GeForceWeb Mojave",
    orig2fixed: {
        "__ZN14IOAccelShared217lookupDeviceShmemEj": "__ZNK14IOAccelShared217lookupDeviceShmemEj",
        "__ZN15IOAccelContext215contextModeBitsEv": "__ZNK15IOAccelContext215contextModeBitsEv",
        "__ZN15IOAccelContext216isTripleBufferedEv": "__ZNK15IOAccelContext216isTripleBufferedEv",
        "__ZN15IOAccelContext217getSurfaceReqBitsEv": "__ZNK15IOAccelContext217getSurfaceReqBitsEv",
        "__ZN15IOAccelContext219allowsExclusiveModeEv": "__ZNK15IOAccelContext219allowsExclusiveModeEv",
        "__ZN15IOAccelContext220requiresBackingStoreEv": "__ZNK15IOAccelContext220requiresBackingStoreEv",
        "__ZN15IOAccelSurface216getSurfaceBufferE20eIOAccelGLBufferType": "__ZNK15IOAccelSurface216getSurfaceBufferE20eIOAccelGLBufferType",
        "__ZN15IOAccelSurface227convertGLIndexToBufferIndexE20eIOAccelGLBufferType": "__ZNK15IOAccelSurface227convertGLIndexToBufferIndexE20eIOAccelGLBufferType",
        "__ZN16IOAccelResource213requirePageonEv": "__ZNK16IOAccelResource213requirePageonEv",
        "__ZN16IOAccelResource222newResourceWithOptionsEP22IOGraphicsAccelerator2P14IOAccelShared215eIOAccelResTypeyjyPy": "__ZN16IOAccelResource222newResourceWithOptionsEP22IOGraphicsAccelerator2P14IOAccelShared215eIOAccelResTypeyjyPyj",
        "__ZN16IOAccelResource224getClientSharedROPrivateEv": "__ZNK16IOAccelResource224getClientSharedROPrivateEv",
        "__ZN16IOAccelResource224getClientSharedRWPrivateEv": "__ZNK16IOAccelResource224getClientSharedRWPrivateEv",
        "__ZN16IOAccelSysMemory12getDirtySizeEv": "__ZNK16IOAccelSysMemory12getDirtySizeEv",
        "__ZN16IOAccelSysMemory15getResidentSizeEv": "__ZNK16IOAccelSysMemory15getResidentSizeEv",
        "__ZN16IOAccelVidMemory12getDirtySizeEv": "__ZNK16IOAccelVidMemory12getDirtySizeEv",
        "__ZN16IOAccelVidMemory15getResidentSizeEv": "__ZNK16IOAccelVidMemory15getResidentSizeEv",
        "__ZN17IOAccel2DContext217getSurfaceReqBitsEv": "__ZNK17IOAccel2DContext217getSurfaceReqBitsEv",
        "__ZN17IOAccel2DContext219allowsExclusiveModeEv": "__ZNK17IOAccel2DContext219allowsExclusiveModeEv",
        "__ZN17IOAccelGLContext215contextModeBitsEv": "__ZNK17IOAccelGLContext215contextModeBitsEv",
        "__ZN17IOAccelGLContext216isTripleBufferedEv": "__ZNK17IOAccelGLContext216isTripleBufferedEv",
        "__ZN17IOAccelGLContext217getSurfaceReqBitsEv": "__ZNK17IOAccelGLContext217getSurfaceReqBitsEv",
        "__ZN17IOAccelGLContext219allowsExclusiveModeEv": "__ZNK17IOAccelGLContext219allowsExclusiveModeEv",
        "__ZN17IOAccelGLContext220requiresBackingStoreEv": "__ZNK17IOAccelGLContext220requiresBackingStoreEv",
        "__ZN18IOAccelStatistics227_RESERVEDIOAccelStatistics0Ev": "__ZN18IOAccelStatistics216setupIOReportersEv",
        "__ZN18IOAccelStatistics227_RESERVEDIOAccelStatistics1Ev": "__ZN18IOAccelStatistics213setupChannelsEv",
        "__ZN18IOAccelStatistics227_RESERVEDIOAccelStatistics2Ev": "__ZN18IOAccelStatistics215configureReportEP19IOReportChannelListjPvS2_",
        "__ZN18IOAccelStatistics227_RESERVEDIOAccelStatistics3Ev": "__ZN18IOAccelStatistics212updateReportEP19IOReportChannelListjPvS2_",
        "__ZN19IOAccelCommandQueue19retireCommandBufferEP17IOAccelBlockFence": "__ZN19IOAccelCommandQueue19retireCommandBufferEP17IOAccelEventFence",
        "__ZN19IOAccelCommandQueue29_RESERVEDIOAccelCommandQueue1Ev": "__ZN19IOAccelCommandQueue21processKernelCommandsEPK20IOAccelKernelCommandS2_",
        "__ZN19IOAccelCommandQueue29_RESERVEDIOAccelCommandQueue2Ev": "__ZN19IOAccelCommandQueue20processKernelCommandEPK20IOAccelKernelCommandS2_",
        "__ZN19IOAccelDisplayPipe214getFramebufferEv": "__ZNK19IOAccelDisplayPipe214getFramebufferEv",
        "__ZN22IOAccelDisplayMachine214getDisplayPipeEj": "__ZNK22IOAccelDisplayMachine214getDisplayPipeEj",
        "__ZN22IOAccelDisplayMachine216getIOFramebufferEj": "__ZNK22IOAccelDisplayMachine216getIOFramebufferEj",
        "__ZN22IOAccelDisplayMachine217getScanoutSurfaceEj": "__ZNK22IOAccelDisplayMachine217getScanoutSurfaceEj",
        "__ZN22IOAccelDisplayMachine218getScanoutResourceEjj": "__ZNK19IOAccelDisplayPipe218getScanoutResourceEj",
        "__ZN22IOAccelDisplayMachine219getFramebufferCountEv": "__ZNK22IOAccelDisplayMachine219getFramebufferCountEv",
        "__ZN22IOAccelDisplayMachine219isFramebufferActiveEj": "__ZNK22IOAccelDisplayMachine219isFramebufferActiveEj",
        "__ZN22IOAccelDisplayMachine220getFullScreenSurfaceEj": "__ZNK22IOAccelDisplayMachine220getFullScreenSurfaceEj",
        "__ZN22IOAccelDisplayMachine222getFramebufferResourceEjj": "__ZNK22IOAccelDisplayMachine222getFramebufferResourceEjj",
        "__ZN22IOGraphicsAccelerator231_RESERVEDIOGraphicsAccelerator0Ev": "__ZN22IOGraphicsAccelerator218getMaxResourceSizeEv",
    },
)
